<h1>¡Bienvenido a la base de datos!</h1>
<p>Haz clic en alguno del los enlaces a continuación para agregar series, películas y documentales a la base de datos.</p>

<br>
<br>
<div class="d-grid gap-2">
  <%= link_to 'Documentales', new_documentary_path, class: 'btn btn-light' %>
  <%= link_to 'Series', new_series_path, class: 'btn btn-light' %>
  <%= link_to 'Películas', new_movie_path, class: 'btn btn-light' %>
</div>